main{
    height: 100vh;
    background-color: #37475a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
}
#topMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}
.botones{
    font-size: 3em;
    color: white;
    cursor: pointer;
}
#codigo{
    background-color: #f6f5f2;
    width: 95%;
    height: 90%;
    border-radius: 0.3em;
    padding: 2em;
    overflow: auto;
}